<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GonPush.com</title>
  <link href="/assets/backcss/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/backcss/animate.css" rel="stylesheet">
  <link href="/assets/backcss/style.css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="dropdown profile-element">
                <span><img alt="image" class="img-circle" src="img/profile_small.jpg" /></span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">真叫卢俊</strong>
                       </span> <span class="text-muted text-xs block">原创方<b class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="login.html">退出登录</a></li>
                  </ul>
              </div>
              <div class="logo-element">
                GO
              </div>
          </li>

          <li class="active">
              <a href="javascript:;">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">需求订单</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="creator_orders.html">待处理</a></li>
                <li><a href="creator_orders.html">进行中</a></li>
                <li><a href="creator_orders.html">已完成</a></li>
                <li><a href="creator_orders.html">已关闭</a></li>
              </ul>
          </li>

          <li>
              <a href="creator_comments.html">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">评价列表</span>
              </a>
          </li>

          <li>
              <a href="creator_invite_required.html">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">接单设置</span>
              </a>
          </li>

          <li>
              <a href="creator_services.html">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">报价设置</span>
              </a>
          </li>

          <li>
              <a href="javascript:;">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">账号设置</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="creator_update_password.html">修改密码</a></li>
                <li><a href="creator_profile_setting.html">基础信息</a></li>
              </ul>
          </li>

          <li>
              <a href="javascript:;">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">社交账号</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="creator_social_accounts.html">账号列表</a></li>
                <li><a href="creator_metrics.html">粉丝画像</a></li>                    
              </ul>
          </li>

          <li>
            <a href="creator_reports.html">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">报道列表</span>
            </a>
          </li>

          <li>
            <a href="creator_cases.html">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">案例列表</span>
            </a>
          </li>
        </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>订单列表</h5>
        </div>

        <div class="ibox-content">
          <div class="clients-list">
            <div class="full-height-scroll">
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>项目名称</th>
                      <th>KOL</th>
                      <th></th>
                      <th>投放预算</th>
                      <th>投放日期</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                      <td>3214</td>
                      <td>麦当劳活动</td>
                      <td class="client-avatar"><img alt="image" src="img/a1.jpg"></td>
                      <td>真叫卢俊</td>
                      <td>¥500,000.00</td>
                      <td>2015-05-03</td>
                      <td><span class="label label-primary">待处理</span></td>
                      <td><a href="creator_order_detail.html">查看</a></td>
                    </tr>
                    <tr>
                      <td>3214</td>
                      <td>麦当劳活动</td>
                      <td class="client-avatar"><img alt="image" src="img/a2.jpg"></td>
                      <td>真叫卢俊</td>
                      <td>¥500,000.00</td>
                      <td>2015-05-03</td>
                      <td><span class="label label-primary">待处理</span></td>
                      <td><a href="creator_order_detail.html">查看</a></td>
                    </tr>
                    <tr>
                      <td>3214</td>
                      <td>麦当劳活动</td>
                      <td class="client-avatar"><img alt="image" src="img/a3.jpg"></td>
                      <td>真叫卢俊</td>
                      <td>¥500,000.00</td>
                      <td>2015-05-03</td>
                      <td><span class="label label-primary">待处理</span></td>
                      <td><a href="creator_order_detail.html">查看</a></td>
                    </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
    </div>
  </div>

 <!-- Mainly scripts -->
  <script src="/assets/backjs/jquery-3.1.1.min.js"></script>
  <script src="/assets/backjs/bootstrap.min.js"></script>
  <script src="/assets/backjs/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="/assets/backjs/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="/assets/backjs/inspinia.js"></script>
  <script src="/assets/backjs/plugins/pace/pace.min.js"></script>
</body>
</html>


